In [1]:
print("hello world")

hello world

### Day 0 Stuff

- term project
    - description on Canvas is incomplete
        - on purpose
            - (of course)
    - basically, we are creating a database for a library
        - library as in book repository
        - team decides what features are involved

### Grading
- breakdown
    - 10% assignments
    - 40% team term project
        - 25% of that (10% of the final course grade) is based on peer evaluations
    - 50% exams
- not dropping anything this time, just trying to fudge via extra credit
- final exam will not be cumulative unless overall class performance sucks
- **3 unexcused absences will drop one letter grade**
    - measured via iClicker

### Term Project
- designing a database for a library
    - track and manage collection of loanable items
        - memberships
        - borrowing rules
        - reports
- milestones
    - vision statement & project plan
        - vision statement: a few sentences describing the intent
        - project plan: delineating team roles and responsibilities
    - domain modeling & requirements engineering
        - domain and requirements are largely in the rubric information
            - mostly about us figuring out what we want to do in addition to these 
    - conceptual design
    - logical design
    - physical design & data population
    - project demo
- weekly meetings
    - minutes should include
        - date
        - time
        - location 
            - can be physical or virtual
        - objective of the meeting
        - team members present
        - tasks assigned 
            - should include the deadlines assigned to each task
        - prior task completion status
    - create a google form for this? 
- 25% of project grade is based on peer evaluations

### 23Jan Introduction to Databases
- terminology   
    - data: known facts with implicit meaning; raw
    - database: a highly organized, interrelated, and structured set of data about entities
        - controlled by a database management system (DBMS)
    - database management system (DBMS): 
        - a set of programs that manage databases
        - used for high value, high volume, and/or high access rate data
        - support multiple types of roles and user types
            - different users may have access to different parts of the database
        - SQL -> Relational Algebra -> Compiled Code
        - defines the database's structures, data types, constraints, etc
        - allows for retrieval, insertion, deletion, and modification of data
    - transaction: a single logical operation on the database
        - e.g. a single SQL statement to update a record
    - atomicity: a transaction is either fully completed or fully aborted
        - no partial transactions
        - important for maintaining data integrity in the event of power loss or other failures
    - DDL: Data Definition Language
        - used to create a table
        - e.g. CREATE TABLE, ALTER TABLE, DROP TABLE
    - DML: Data Manipulation Language
        - used to manipulate the data
        - e.g. SELECT, INSERT, UPDATE, DELETE
                
        <img src="images/DBMS.JPEG" width=500>
    - SDL: Storage Definition Language
        - used to define the physical storage structure of the database
        - e.g. CREATE INDEX, DROP INDEX
    - Relational Algebra
        - a procedural query language
        - all about set manipulation
        - DDL, DML, and SDL are all based on relational algebra

- example "mini-world" database
    - environment: UNIVERSITY
    - entities: STUDENTs, COURSEs, SECTIONs (of COURSEs), DEPARTMENTs, INSTRUCTORs
    - relationships: SECTIONs are of COURSEs, STUDENTs enroll in SECTIONs, COURSEs have prerequisite COURSEs, INSTRUCTORs teach SECTIONs, COURSEs are offered by DEPARTMENTs, STUDENTs have majors in DEPARTMENTs, etc
        - typically expressed in a conceptual data model                
- anatomy of a table
    - table name
    - attribute names
    - data types
    - rows or columns of data
- Why DBMS approach?
    - self describing
        - the DBMS catalog stores the description (metadata) of the database
        - allows the DBMS software to work with different database applications
    - program-data independence
        - allows for changes in the data structure without changing the applications
            - i.e. the program needs to know less about the database to work with it

- schema: a description of a particular collection of data
        - includes the data structures, operations on the data
        - for a relational database, the schema is usually described as a set of tables
            - format: `student(SID: string, name: string, age: integer)`
            - the table name is `student`
            - the attributes or keys are `SID`, `name`, and `age`
- instances: the actual content of the database at a particular point in time
    - the schema is static, the instances are dynamic
- **three-schema architecture** (will be an exam Q)
    - goal of the three-schema architecture is to separate the user applications from the physical database
    - levels
        - external schema
            - user views
            - describes the part of the database that a particular user group is interested in
            - hides irrelevant details
        - conceptual schema
            - community view
            - describes the entire database for the community
            - hides details not relevant to the entire community
        - internal schema
            - physical view
            - describes the physical storage of the database
            - hides the details of the storage structure
            - can be indexed, hashed, etc
    <img src="images/three-schema.jpg">

- data abstraction
    - hides the storage details from the user and allows the user to focus on the data
- sharing of data and multiuser transaction processing
    - allows concurrent access to the data
    - the DBMS ensures that each transaction is either correctly executed or aborted
- user types
    - end user
        - run queries, reports, and sometimes update the database
    - database designers
        - define the structure of the database
    - database administrators
        - responsible for the physical database design and for dealing with issues such as security, performance, and backup and recovery
- data model
    - a set of concepts to describe 
        - the structure of a database        
        - the operations for manipulating the structures
        - constraints on the database
    - schema, operations, constraint, integrity, etc.

### 28Jan
- domain modeling
    - captures the concepts in a problem domain and establishes their relationships
        - establishes vocabulary of the problem domain
    - problem domain: the area of interest for the system
        - e.g. a library system, a student information system, etc
    - team members should communicate their understanding of the domain
        - facilitates communication
        - builds a common understanding of the problem domain 
    - abstraction
        - simplifying the complexity of the system by modeling the essential aspects 
    - documentation
        - ensures that the model, system, and requirements are understood by all stakeholders
            - both now and in the future
        - Entity Relationship (ER) diagram: a graphical representation of the model
            - entities, attributes, relationships
            - can be used to generate a database schema
- structuring a domain model
    - can start with a list of phrases describing aspects of the domain
        - e.g. a person can work for one or several companies
        - identifies entities and relationships which should be included in the model
    - can also be mathematically or graphically described
        - we will use ER diagrams in this course
- conceptual model development
    - use ER or UML to illustrate entities, attributes, and relationships
    - independent from the database data model
    - maps to the logical design
        - once the conceptual model is complete, the logical design can be developed based on the model
        - there are existing algorithms/processes for translating ER diagrams to database schemas and code

- requirements engineering for databases
    - start with the people it affects
        - identify stakeholders
        - conduct interviews
        - define objectives and scope
    - define requirements
        - document functional requirements
            - what should it do
            - what entry, retrieval, and reporting capabilities are needed
        - capture non-functional requirements
            - performance, security scalability, backups, etc
        - identify data requirements
            - where does the data come from and what is the data flow
    - review and validate
        - circle back with stakeholders
        - validate with feeback and iteration

- designing a database
    - domain modeling $\implies$ requirements engineering
    - $\implies$ 
    - conceptual model
    - $\implies$ 
    - technology independent schema $\implies$ normalization $\implies$ technology dependent schema
        - normalization: a process of organizing the data in the database
            - reduces redundancy and dependency by organizing fields and table of a database
            - ensures data integrity
    - $\implies$
    - logical design $\implies$ physical design
- why conceptual modeling?
    - abstraction and simplification
    - improved understanding and communication
- **ER Modeling for the project**
    - <img src="images/447project_ER.JPEG" width=500>
    - entity sets and attributes can be modeled either as a UML style box with a name and attributes inside or as a box with a name and attribute bubbles attached
    - can use singular or plural names for entities
    - just be consistent with model and naming conventions
    - **there are python libraries for turning tables into UML/ER diagrams**
- entity sets
    - an entity is a thing or object in the real world that is distinguishable from other objects
        - e.g. a student, a course, a department
    - entities have attributes which characterize them
        - e.g. a student has a name, an ID, a major
        - types
            - composite: an attribute that can be divided into smaller subparts
                - e.g. a name can be divided into first and last names
            - multivalued: an attribute that can have multiple values 
                - **these should be double outlined in the ER diagram**
                    - i.e. if using bubbles, bubble twice
                - e.g. a student can have multiple phone numbers
            - key: an attribute that uniquely identifies an entity 
                - **these should be underlined in the ER diagram**
                - e.g. a student ID
    - an entity set is a collection of similar entities
        - e.g. the set of all students
    - entities can be strong or weak
        - a strong entity is one that can be uniquely identified by its attributes
            - e.g. an employee
        - a weak entity is one that cannot be uniquely identified by its attributes alone
            - cannot exist without a strong entity
            - e.g. dependent family members of an employee
        - e.g. employment databse
            - an employee would be a strong entity
                - they have a unique employee ID and can exist without any other entities
            - a dependent would be a weak entity 
                - they cannot exist without an employee entity

### 30Jan
#### ER Diagrams continued
- relationships
    - **relationship sets are shown as diamonds or labels directly on the connecting lines**
    - two entities may be related by a relationship
    - relationships can have attributes
    - e.g. a `student` entity and a `course` entity are linked by the `takes` relationship
        - `takes` may have attributes such as `grade` and `semester`
    - **multiplicity constraints are drawn on or near the connecting lines**
        - use parenthesized intervals to represent the number of entities that can be involved in a relationship
        - often represented as `(min, max)`, `(min, N)`, `(min, *)`, min...max`, `min...N`, etc
        - (*) represents 0 or more

    <img src="images/relationship_example.JPEG" width=1000>
    
    - M (1,5) between `student` and `takes` represents that the student can take a minimum of 1 and a maximum of 5 courses
    - N (10, 300) between `takes` and `course` represents that a course can have a minimum of 10 and a maximum of 300 students
    - relationships can be unary, binary, ternary, etc
        - unary: a relationship between an entity and itself
            - **draw a line to the relationship diamond and back to the entity**
            - e.g. a `employee` entity may have a `manages` relationship with itself
                - i.e. specific employees may act as managers for some number of other employees
                - `employees` $\rightarrow$ `manages` $\rightarrow$ `employees`
                - **RL does not have arrows so you have to find other ways to indicate directionality**
                    - *allegedly*
                    - how do you know if it is `(1, 1)` manager per `(10, 20)` employees or `(10, 20)` managers per `(1, 1)` employee?
                    - can also specify with a text label by the interval
                        - e.g. `(1,1) managers` and `(10, 20) employees`
        - binary: a relationship between two entities
        - ternary: a relationship between three entities
    - **a double line connecting represents a mandatory relationship**
        - e.g. it is mandatory that a `student` `takes` the minimum number of `course`s

### 04Feb
- **mini exam Tuesday Feb 11th**
    - laptop with full screen brightness
    - use only a browser with a single tab open
        - no other files/apps
    - alternatively a paper version will be available
    - format:
        - on Canvas
        - 29 questions, 62 total points
        - mostly MC and T/F
        - one or two short answer questions
        - an ER diagram will be printed and provided
            - 10 questions will be about interpreting the ER diagram
        - **sign the attendance sheet at the back of the room before leaving**

#### ER Diagrams continued continued
- recall:
    - each entity and relationship can/will be equated to a table in the database
    - **anything ER can do, UML can do**
        - UML is more general
        - ER is more specific to databases
    - other notations
        - if no multiplicity is specified, assume `N`
            - i.e. 0 or more
        - if no multiplicity but an arrow is present, assume `1`
            - i.e. 1 or more
- ternary relationships
    - 3+ entities are involved
    - avoid when possible
    - can often be broken down into multiple binary relationships

<img src="images/ER_Ternary.png" width=800>

<img src="images/ER_Ternary2.png" width=800>

#### Extended ER
- several extensions to ER exist
- specialization and generalization is the most notable
    - a triangle is used to indicate specialization
    - delineates a subclass of an entity
        - e.g. `student` `is a` `person`
### Summary of conceptual modeling
- good conceptual modeling, especially ER reduces the amount of normalization needed
    - things should just slot into place
- **likely exam question**
<img src="images/3_Schema_Mini_Exam_Q.png" width=800>

### SQL
- languages
    - high level: C++, Java, Python
    - low level: assembly, machine code 
    - compiled: C++, Java
    - interpreted: Python, R
    - declarative: SQL
        - you tell the DBMS what you want and it figures out how to get it
    - procedural: Python, C++
        - you tell the computer how to get it
- SQL
    - a high level, interpreted, declarative language
    - e.g. syntax `SELECT name age FROM student WHERE age > 21`
        - returns the names and ages of students older than 21

## Logical Design
- objective: convert a conceptual model to a data model
    - the conceptual model is independent from any database data model
- data model
    - represents syntax and semantics
        - how to declare database schema
        - how to query the database
        - how to modify the database
    - many data models exist
        - relational, object-oriented, network, hierarchical, etc
        - relational is the most common
    - the relational model
        - structures data in the form of tables
            - i.e. a relational database is a set of named tables
        - the schema defines
            - names of relations (the table's name)
            - attributes (the columns)
                - attributes have a domain (the data type)
            - tuples (the rows)
            - integrity constraints 
- formal definition of a relation (a table)
    - a **subset** of the cartesian product of the domains of the attribute data types
        - a relation in the mathematical sense
        - **n** domains are denoted by $D_1, D_2, ..., D_n$
        - if **r** is a relation on these domains, then **r** $\subseteq D_1 \times D_2 \times ... \times D_n$ 
        - cartesian product: the set of all possible ordered pairs of elements from the two sets
            - e.g. $a \times b = \{(x,y) | x \in a \land y \in b\}$
                - creates a matrix of all possible combinations of elements from the sets $a$ and $b$
        - **hence, it is a set of tuples**
- relation scheme
    - a single relation schema R defines
        - a finite set of attributes $A_1, A_2, ..., A_n$
            - the names must be distinct
        - attribute $A_i$ has domain $D_i$ of possible values
        - the domain of values specifies both the data type and the permissible values
            - values are treated as atomic, i.e. indivisible
                - if an attribute expects values that are not atomic, it should be broken down into smaller attributes
                - e.g. an address attribute should be broken down into street, city, state, zip, etc if you need to query by city 
        - written as $R(A_1:D_1, A_2:D_2, ..., A_n:D_n)$ or just $R(A_1, A_2, ..., A_n)$ 
            - e.g. `EXCERCISES (CATEGORY, ENO, TOPIC, MAXPTS)`
            - can also be graphically represented by the table name and the attribute names
                - i.e. a table with no data cells
    - implications of set theory
        - a relation is a set of tuples
        - **elements of a set or tuple have no inherent order**
            - database design may require a specific order but at the data level, there is no inherent order
        - **sets have no duplicates**
            - i.e. each tuple in a relation is unique
            - sometimes in practice, duplicates are allowed but they are not part of the formal definition
- summary:
    - a database has a set of relations
    - a relation has a set of tuples
    - a tuples has a set of attribute values

- null values
    - allow for missing attribute values
    - distinct from an empty value
    - used to model nonexistant, non applicable, or unknown values
        - e.g. a student who has not taken any courses yet or who has not input their address
    - complicates query logic
        - e.g. `SELECT * FROM R WHERE A = 42` will not return tuples where A is null
        - have to add a specific null check
            - `SELECT * FROM R WHERE A = 42 OR A IS NULL`

### 13Feb25
- integrity constraints
    - declared as part of the database schema
    - refers to the correctness of the data
    - the DBMS should refuse any updates which would lead to a database state which violates the constraints
    - examples
        - non-null input values
            - e.g. a student must have a name
        - primary key constraint
            - a value in a column must be unique
        - foreign key constraint
            - a value in one table must exist in another table
- keys - **Exam Question** 
    - an attribute or set of attributes that uniquely identifies a tuple
    - types:  
        - composite key
            - comprised of multiple attributes
            - e.g. a car may be uniquely identified by its VIN or the combination of its plate number and its street address 
        - candidate key - **Exam Question**
            - the list of possible keys for a relation which has multiple
                - e.g. putting your email on a form, you choose from all your (candidate) email addresses 
            - a minimal set of attributes that can uniquely identify a tuple
            - a table may have multiple candidate keys
        - primary key 
            - **Exam Question**
                - **the 2 properties**
                    - **can uniquely identify tuples**
                    - **minimal set of attributes - there is no subset of the key which is also a key**
            - a candidate key chosen to uniquely identify a tuple
            - must be unique and non-null
            - a table can have only one primary key
            - e.g. Classroom(<ins>Building</ins>, <ins>Room_number</ins>, Capacity)
                - `Building` and `Room_number` are the primary keys
                - neither of them alone can uniquely identify a Classroom
            ```sql
            create table Classroom (
            ...
            primary key (Building, Room_number)
            );
            ```
        - foreign key
            - not keys in and of themselves
            - an attribute in a relation which is a primary key in another relation
            - e.g. the table of students may have a `Faculty_ID` attribute for their advisor which is a foreign key from the `Faculty` table
                - the `Faculty_ID` does not uniquely identify a student in the `Student` table but it does identify a faculty member in the `Faculty` table
        - super key
            - a key with more attributes than necessary to uniquely identify a tuple
            - these should be minimized
- referential integrity - **Exam Question**
    - a value in a table must exist or be null
    - e.g. a student's advisor must be a valid faculty member or set to null until an advisor is assigned
    - important when a foreign key is involved
        - e.g. if a student's advisor is deleted from the faculty, the student's advisor should be set to null
    - can be enforced by the DBMS
        - e.g. `ON DELETE SET NULL`

### 20Feb25
**Add Jacob's notes from 20Feb25**

### 25Feb25
- relational algebra continued
- relation operators
    - join $\bowtie$
        - joins relations to form longer tuples according to a condition
        - types
            - theta join $\bowtie_{p}$ (general join)
                - $p$ is the condition
                - general term, uses any comparison operator
                - in SQL:
                    ```sql
                        SELECT *
                        FROM R, S
                        WHERE R.A = S.B
                    ```
                    - $p$ is $R.A = S.B$
            - equi-join $\bowtie_{A=B}$
                - the condition $p$ is one or more equality comparisons between attributes
                - e.g. A $\bowtie_{A>B}$ B 
                    - join all tuples where the A attribute is greater than the B attribute 
                - e.g. Customers $\bowtie_{Customers.ID=customer} Orders$
                    - makes a table of all orders in the Order table which match to customers in the Customer table
                    - all attributes from both tables are included for each tuple
            - natural join $\bowtie$
                - no condition $p$ is specified, join is performed on all attributes with the same name
                - join on the equality of all attributes with the same name
                - e.g. Customers $\bowtie$ Orders
                    - the same as Customers $\bowtie_{Customers.ID=customer} Orders$
        - join is not a required/basic/essential operator - it can be expressed in terms of other operators
            - e.g. you could filter the output of a cartesian product to only include tuples which meet a certain condition
            - $R \bowtie S = \sigma_{p}(R \times S)$
        - inner join: another name for regular join
        - outer join:
            - includes tuples which do not have a match in the other relation
            - types
                - left outer join
                    - the symbol is a bowtie with "legs" off the left side
                    - includes all tuples from the left relation and only matching tuples from the right relation
                - right outer join
                    - the symbol is a bowtie with "legs" off the right side
                    - includes all tuples from the right relation and only matching tuples from the left relation
                - full outer join
                    - the symbol is a bowtie with "legs" off both sides
                    - includes all tuples from both relations
                    - tuples which do not have a match in the other relation are filled with null values
                - e.g. Customers $\bowtie_{Customers.ID=customer}^{left}$ Orders
                    - includes all customers and only matching orders
                - e.g. Customers $\bowtie_{Customers.ID=customer}^{right}$ Orders
                    - includes all orders and only matching customers
                - e.g. Customers $\bowtie_{Customers.ID=customer}^{full}$ Orders
                    - includes all customers and all orders
                                        
                <img src="images/joins-venn.png" width=800>
                <img src="images/relational_algebra_symbols.png" width=800>
        - join is associative
            - $R \bowtie (S \bowtie T) = (R \bowtie S) \bowtie T$
                - the parenthesis don't actually matter
- set operators
    - types:
        - union $R \cup S$
        - intersection $R \cap S$
        - difference $R - S$
    - note: $R$ and $S$ must be *union compatible* for all three operators
        - i.e. they must come from the same domain and have the same number of attributes
- **common exam question for all types of operators**
    - How many records are in the output of $A$ {operator} $B$?
- other operators
    - rename $\rho$
        - used to rename an attribute and/or relation
    - sum, count, average, etc.
    - divide
        - not essential, can be expressed in terms of other operators
        - `R รท S` is the set of all tuples from `R` that have a corresponding tuple in `S` for each attribute in `S`
            - e.g. if AB contains (a,1), (a,2), (b,1), (b,2), and (c,1), then AB รท B would contain (a), (b)
                - i.e. c is the only value in A which does not have a value for both 1 and 2 in B
            - `EECS_stu รท EECS_courses` would be the set of all students who have taken all EECS courses that are available

### 27Feb25
- essential vs non-essential operators
    - essential operators:
        - select $\sigma$
        - project $\pi$
        - cartesian product $\times$
        - union $\cup$
        - subtract $-$
    - non-essential operators can be expressed in terms of essential operators
        - they may be defined for convenience or efficiency 
        - e.g. intersection $R \cap S = S - (S - R)$
    - **exam question** 
        - given an expression in relational algebra, which other expression is equivalent?
        - $R \cap S = {x | x \in R \land x \in S}$
        - $R \cup S = {x | x \in R \lor x \in S}$
- precedence
    - parentheses can be used to modify the order of operations
    - Unary operators (select, project)
- a query language is relationally complete if it can express any query that can be expressed in relational algebra
    - i.e. it can do anything relational algebra can do
    - e.g. SQL is relationally complete

## SQL
### 06Mar25
- quick review
    - a DBMS is software allowing user to manage stored data
    - 3 layers
        - External, conceptual, physical
    - languages
        - imperative (procedural)
            - tell the computer what to do
            - e.g. C/C++, Java, etc
        - declarative
            - tell the computer what you want and let it figure out how to get it
            - e.g. SQL, HTML, etc
- SQL commands
    - DDL: for data creation
        - e.g. create, alter, drop, truncate
    - DML: for data manipulation
        - e.g. insert, update, delete
        - select is sometimes considered DML
    - DCL: for data control
        - e.g. grant, revoke
    - TCL: for transaction control
        - e.g. commit, rollback, savepoint
- naming conventions
    - characters
        - use letters and underscores
        - avoid special characters
    - avoid reserved words
        - e.g. select, from, where, etc
    - use descriptive names
    - be consistent in convention
        - e.g. keep all table names singular or plural
    - keep them concise
    - dot notation
        - used to specify the table of an attribute
        - e.g. `table_name.attribute_name`
- syntax
    - semicolons are used to terminate a statement
    - commas can be used to separate multiple attributes or conditions
        - recommended but not required
        - e.g. `SELECT name, SSN FROM student`
    - dot notation is used to specify the table of an attribute
        - e.g. `table_name.attribute_name`
    - parenthesis can be used to group conditions
        - e.g. `SELECT (Salary + Bonus) FROM employee`
    - single quotes enclose strings
        - e.g. `SELECT name FROM student WHERE name = 'John'`
    - asterisks are used to select all attributes
        - e.g. `SELECT * FROM student` to select all attributes from the student table
    - comments
        - `--` for single line comments
        - `/* */` for multi-line comments
    - square brackets can be used to enclose identifiers with spaces or reserved words
        - e.g. `SELECT [first name] FROM student`
        - should be avoided via better naming conventions whenever possible
- data types
    - integers: INT, SMALLINT, BIGINT
    - float: FLOAT, REAL, DOUBLE PRECISION
    - character strings: CHAR(n), CHARACTER(n),
    - date & time: DATE, TIME, DATETIME, TIMESTAMP

- DDL
    - `CREATE`
        - creates a new database or table
        - can be used with a schema identifier
        - can include an authorization clause
        - `CREATE [SCHEMA] COMPANY [AUTHORIZATION]`
            - creates a schema named COMPANY with the default authorization
        -   ```sql
            CREATE TABLE table_name (
                column1 datatype [constraint],
                column2 datatype [constraint],
                ...
                columnN datatype [constraint]
            );
            ```
        -   ```sql
            CREATE TABLE Employee (
                EmployeeID INT NOT NULL
                LastName VARCHAR(255) NOT NULL,
                DepartmentID INT,
                PRIMARY KEY (EmployeeID)
            );
            ```
    - `INSERT`
        - adds new rows to a table
        -   ```sql
            INSERT INTO table_name (column1, column2, column3, ...)
            VALUES (value1, value2, value3, ...);
            ```
        - bulk insertion
            - different DBMS tools have different methods to facilitate bulk insertion
            -   ```sql
                LOAD DATA INFILE 'employee.tab'
                INTO TABLE employee
                FIELDS TERMINATED BY '\t';
                ```
    - `UPDATE`
        - modifies existing records
        -   ```sql
            UPDATE table_name
            SET column1 = value1, column2 = value2, ...
            WHERE condition;
            ```
        -   ```sql
            UPDATE employee
            SET salary = 100000
            WHERE employeeID = 12345;
            ```
    - `DELETE`
        - removes rows from a table
        -   ```sql
            DELETE FROM table_name WHERE condition;
            ```
        -   ```sql
            DELETE FROM Employee WHERE EmployeeID = 54321;
            ```
    - `SELECT`
        - retrieves data from a table
        - can be used with other commands and get more complex
        -   ```sql
            SELECT column1, column2, ...
            FROM table_name;
            WHERE condition;
            ```
        -   ```sql
            SELECT name, major
            FROM student
            WHERE age > 21;
            ```
            - flow path:
                - first `FROM` acts on the student table
                - then `WHERE` filters the table for students older than 21
                - then `SELECT` retrieves the name and major of the students from this filtered table
        - understanding `FROM`
            - `FROM` can be seen as declaring tuple variables that range over tuples in a relation
            - implicit tuple variables are declared for each relation in the `FROM` clause
            - sometimes the implicit tuple is explicitly declared
                -   ```sql
                    SELECT S.name, S.gpa
                    FROM Student S; -- S is an explicit tuple variable
                    ```
                - can also use for self comparison within a table
                    - e.g. `FROM Student S, Student T`
                        - S and T are two different tuple variables for the same Student table
        - a more full syntax would be:
            ```
            SELECT [ DISTINCT | ALL ] <expression> [ [ AS ] <output name> ] [,...]
            [ FROM <from_item> [,...] ]
            [ WHERE <where_condition> ]
            [ GROUP BY <group_by_list> ]
            [ HAVING <having_condition> ]
            [ ORDER BY <order_by_list> ]
            [ LIMIT <limit_number> ]
            ```
            - breaking this down
                - `DISTINCT` or `ALL` (default) can be used to specify whether or not to return duplicates
                    - e.g. `SELECT DISTINCT name FROM student` would return only unique names
                - `<expression>` is the attribute column or expression to be returned
                    - e.g. `SELECT name FROM student` would return the name column from the student table
                - `AS` is used to rename the output column
                    - e.g. `SELECT name AS student_name FROM student` would return the name column as student_name
                - `FROM` specifies the table to select from
                - `WHERE` specifies the conditions to be met
                    - e.g. `SELECT name FROM student WHERE age > 21` would return the names of students older than 21
                - `GROUP BY` groups the output by the specified column
                    - e.g. `SELECT name, COUNT(*) FROM student GROUP BY name` would return the number of students with each name
            - most queries will only use `SELECT`, `FROM`, and `WHERE`
        - can define the ouptut name with `AS`
            - e.g.  ```sql
                    SELECT ID, name, salary/12
                    AS montly_salary
                    ```

- other
    - base tables
        - tables which are not derived from other tables
    - virtual tables
        - created via the `CREATE VIEW` statement

### 11Mar25
- General course info
    - Mini-Exam 2
        - high: 117%
        - median: 81%
        - low: 35%
    - Mini-Exam 3 pushed back to 01April
        - will be primarily over SQL
    - Mini Exam 4 will also be pushed back at least a week
    - Project
        - can go find our own library data online and clean it to fit our database schema
#### SQL Continued
- `SELECT` continued
    - SQL tables and queries are unordered lists of rows and may contain duplicates
    - using the `DISTINCT` modifier to a `SELECT` statement will remove duplicates
        - e.g. `SELECT DISTINCT name FROM student` will return only unique names
- nested queries
    - e.g. printing order IDs of all customers in Lawrence
        -   ```sql
            SELECT S.orderID
            FROM Sales S
            WHERE S.customerID IN ( SELECT C.customerID
                                    FROM Customer C
                                    WHERE C.city = 'Lawrence');
            ```
- correlated queries
    - a subquery that references a column from the outer query
    - e.g. printing all students in EECS 447
        -   ```sql
            SELECT S.name
            FROM Student S
            WHERE S.studentID IN ( SELECT C.studentID
                                    FROM Course C
                                    WHERE C.studentID = S.studentID AND C.courseID = 'EECS 447');
            ```
- tuple variable scoping
    - subqueries can access variables from the outer query
    - the outer query cannot access variables from the subquery
    - e.g. an enclosing query may include `FROM T as t` and the subquery may include `FROM T as s`
        - the subquery can access `t` but the outer query cannot access `s`
- query memory usage
    - since there are multiple ways to write a query, some may be more efficient than others
    - a `FROM` clause results in the cartesian product of any tables it acts on
        - so things can get big fast if you are not careful


#### Other SQL Languages
- DCL
    - `GRANT`
        - gives privileges to a user
        -   ```sql
            GRANT privilege_name
            ON object_name
            TO {user_name | PUBLIC | role_name}
            [WITH GRANT OPTION];
            ```
        - e.g.
            - `GRANT SELECT, INSERT, UPDATE ON Employee TO John`
    - `REVOKE`
        - removes privileges from a user
        -   ```sql
            REVOKE privilege_name
            ON object_name
            FROM {user_name | PUBLIC | role_name};
            ```
        - e.g.
            - `REVOKE SELECT, INSERT, UPDATE ON Employee FROM John`
- TCL
    - `COMMIT`
        - saves the changes made in the current transaction
    - `ROLLBACK`
        - undoes the changes made in the current transaction
    - `SAVEPOINT`
        - sets a point in the transaction to which you can later roll back
    - e.g. usage:
        -   ```sql
            BEGIN TRANSACTION;
            UPDATE Employee
            SET salary = 100000
            WHERE employeeID = 12345;

            IF @@ERROR <> 0
            ROLLBACK TRANSACTION;
            ELSE
            COMMIT TRANSACTION;
            ```
- Quick Review of RA $\rightarrow$ SQL
    - assuming R(A,B,C) and S(D,E,F)
        - selection:
            - $\theta_{A=5}(R)$
            - becomes
            -   ```sql
                SELECT DISTNCT *
                FROM R
                WHERE A = 5
                ```
    - cartesian product
        - projection, selection, cartesian product
            - $\pi_{A,B}(R) \times \sigma_{C=5}(R)$
            - becomes
            -   ```sql
                SELECT A, B
                FROM R
                WHERE C = 5
                ```
    - see slides ~65-70 for more examples, he went really fast in these slides for no reason
- use parenthesis to enforce order of operations

- extra credit problem:
    - $\pi_{name} (\theta_{age>20} (Student))$
        - select the names of students older than 20
    - in SQL:
        -   ```sql
            SELECT name
            FROM Student
            WHERE age > 20
            ```

### 13Mar25
- `DELETE`
    - removes all tuples from a relation
    - e.g.
        -  ```sql
            DELETE FROM Student
            WHERE age < 21
            ```
- `DROP` table
    - removes the table and all associated data
- `ALTER` table
    - changes the table schema
    - can add, remove, or modify columns
    - can add or remove constraints
    - e.g.
        -   ```sql
            ALTER TABLE Employee
            ADD COLUMN Salary INT;
            ```
- `TRUNCATE` table
    - removes all tuples from a table but keeps the table structure
    - e.g.
        -   ```sql
            TRUNCATE TABLE Employee;
            ```
- Note:
    - use parenthesis to enforce order of operations
        - e.g. `x > 10 OR y = 10 AND z = 100`
            - the `y = 10 AND z = 100` will be evaluated first
            - this should probably be written as below
            - `(x > 10 OR y = 10) AND z = 100`
    - use dot notation to reduce ambiguity
        - e.g.
            -   ```sql
                SELECT name, course_id
                FROM instructor, teaches
                WHERE instructor.ID = teaches.ID
                    AND instructor.dept_name = 'Art'
                ```
            - this could be written as
            -   ```sql
                SELECT instructor.name, teaches.course_id
                FROM instructor, teaches
                WHERE ID = ID
                    AND dept_name = 'Art'
                ```
            - but this is far less readable
    - comparing tables against themselves with `AS`
        -   ``` sql
            SELECT name
            FROM instructor AS A, instructor AS B
            WHERE A.salary > B.salary
                AND A.dept_name = 'Comp. Sci.'
            ```
            - this yields the names of instructors in the computer science department who make more than someone else in the computer science department
                - i.e. excludes the lowest paid instructor in the CS department and all instructors in other departments
                    - (yes that is a weird query but it was an in class example)
    - repeating steps
        - e.g. find employee Bob's supervisor's supervisor
            -   ```sql
                SELECT S2.name
                FROM Employee E1, Employee S1,
                WHERE E1.name = 'Bob'
                    AND E1.supervisor = S1.ID
                ```
            - or
            -   ```sql
                SELECT supervisor
                FROM Employee
                WHERE person = (
                    SELECT supervisor
                    FROM Employee
                    WHERE name = 'Bob'
                )
                ```
- string operators
    - `LIKE`
        - used for string matching
        - `%` is a wildcard for any number of characters
            - `LIKE 'A%'` would return all strings starting with 'A'
            - `LIKE '%son'` would return all strings ending with 'son'
            - `LIKE '%Comp%' would return all strings containing 'Comp'
        - `_` is a wildcard for a single character
            - e.g. `LIKE 'A__'` would return all strings starting with 'A' and having exactly two more characters
    - concatenation
        - `||` is used to concatenate strings
        - e.g. `SELECT name || ' ' || major FROM student`
            - returns the name and major of each student with a space between them
- other useful commands
    - `ORDER`
        - can be used to sort the output of a query by one or more columns
        - can specify `ASC` or `DESC` for ascending or descending order
    - `BETWEEN`
        - acts as a comparison operator for a range of values
- using set operators without dropping duplicate values
    - use `ALL`
        - e.g. `UNION ALL`, `INTERSECT ALL`, `EXCEPT ALL`
- `NULL` values
    - can be checked for with `IS NULL` or `IS NOT NULL`
    - any arithmetic expression involving `NULL` will return `NULL`
    - any comparison involving `NULL` will return `UNKNOWN`
        - e.g. `NULL = NULL` will return `UNKNOWN`
        - if your `WHERE` clause involves boolean operators, you can modify the query to include the unknown values
            - e.g. `WHERE (T.age = S.age) AND salary > 90000`
                - if salary is null, the comparison will return unknown
        - SQL handles this by returning for
            - `AND` (result of operation: what the operator returns)
                - true and unknown: unknown
                - false and unknown: false
                - unknown and unknown: unknown
            - `OR`
                - true or unknown: true
                - false or unknown: unknown
                - unknown or unknown: unknown
        - `NULL IS NULL` will return `TRUE`

### 25Mar25
- ER to SQL
    - a relation between two entities becomes a relationship
        - the arguments of the relationship are the primary keys of the entities and any attributes of the relationship
    - if the relationship is one-to-one, either entity's primary key can be used as the primary key of the relationship
    - if the relationship is one-to-many, the primary key of the "one" entity is used as the primary key of the relationship
    - if the relationship is many-to-many, a composite primary key of the primary keys of the entities is used
#### Mini Exam coming up 03April25
- Mostly MC/TF
- 1-2 queries
- examples
    - considering relation r and the following 2 queries:
        - Q1: `SELECT * FROM R`
        - Q2: `(SELECT * FROM R) INTERSECT (SELECT * FROM R)`
            - Q1 and Q2 produce the same answer
            - the answer to Q1 is a subset of the answer to Q2
            - the answer to Q2 is a subset of the answer to Q1
            - Q1 and Q2 produce different answers
        - Answer: because duplicates may be contained in the data,
        - using `INTERSECT ALL` in Q2 would make the answers the same
    - considering relation r and the following 2 queries:
        - Q1: $\pi_{Genre}(\sigma_{author='Rowling'}(Books))$
        - Q2: `SELECT Genre FROM Books WHERE author='Rowling'`
            - Q1 and Q2 produce the same answer
            - the answer to Q1 is a subset of the answer to Q2
            - the answer to Q2 is a subset of the answer to Q1
            - Q1 and Q2 produce different answers
        - Answer: the answer to Q1 is a subset of the answer to Q2
        - relational algebra acts as set operators and will remove duplicates
    - which query deletes more tuples
        - Q1: `DELETE FROM R WHERE A=10`
        - Q2: `update set B = 5 where A = 10; delete from R where B = 5`
        - Answer: Q2 deletes more than Q1 as there may be other tuples where A!=10 but B=5
            - Q1 only deletes tuples where A=10
            - Q2 sets all A=10 to B=5 then deletes all B=5
                - there may have already been B=5 tuples before the update
    - given `Stu(SSN, GPA)` write "Find the SSN of the highest GPA student"
        - A) in SQL using max aggregatot operator
            - Answer: `SELECT SSN FROM Stu WHERE GPA = (SELECT MAX(GPA) FROM Stu)`
        - B) in SQL without using max
            - Answer: `SELECT SSN FROM Stu WHERE GPA >= ALL (SELECT GPA FROM Stu)`

#### back to actual content
- aggregate operators
    - `MAX`, `MIN`, `AVG`, `SUM`, `COUNT`
        -   ```sql
            SELECT dept_name, MAX(ID), AVG(salary)
            FROM instructor
            GROUP BY dept_name
            ```
            - this will return the max ID and average salary of instructors grouped by department name
    - `HAVING` clause
        - used to filter groups
        -   ```sql
            SELECT dept_name, AVG(salary) as avg_salary
            FROM instructor
            GROUP BY dept_name
            HAVING AVG(salary) > 80000
            ```
            - here, `HAVING` is used to filter out departments with an average salary below 80000
                - i.e. it operates after the `GROUP BY` clause+
    - `SELECT 1` trick
        - can be used to check if a query returns any rows
            - i.e. you don't care about the output, you just want to know if there is an output
    - operand operator (subquery)
        - the format generally used for subqueries
        -   ```sql
            SELECT DISTINCT course_id
            FROM section
            WHERE semester = 'Fall' AND year = 2024 AND course_id IN
            (   SELECT course_id
                FROM section
                WHERE semester = 'Spring' AND year = 2025
            );
            ```
            - returns all courses offered in both Fall 2024 and Spring 2025
    - `SOME` clause
        - used to compare a value to a set of values
            - `5 < SOME (0, 5)` is false
            - `5 < SOME (0, 5, 6)` is true
            - `5 = SOME (0, 5, 6)` is true
    - `ALL` clause
        - used to compare a value to all values in a set
            - `5 < ALL (1, 2, 3)` is false
            - `5 < ALL (6, 7, 8)` is true
            - `5 = ALL (5, 5, 5)` is true

### 27Mar25
- `EXISTS`
    - used to check if a subquery returns any rows
    -  ```sql
       SELECT DISTICT S.ID, S.name
       FROM students as S
       WHERE NOT EXISTS 
            ((SELECT course_id FROM course WHERE dept_name = 'Comp. Sci.'
            ) 
            EXCEPT 
            (
            SELECT T.course_id FROM takes as T WHERE T.ID = S.ID
            ));
        ));
         ```
- subqueries in the `FROM` clause
    - create a temporary table from the subquery
        - referred to as a derived table or inline view
    -   ```sql
        SELECT dept_name, AVG(salary)
        FROM (SELECT * FROM instructor WHERE salary > 80000) as high_salary
        GROUP BY dept_name
        ```
        - this will return the average salary of instructors in each department who make more than 80000 
    -   ```sql
        SELECT dept_name, avg_salary
        FROM ( SELECT dept_name, AVG(salary) as avg_salary
               FROM instructor
               GROUP BY dept_name
             ) as high_salary
        ```
        - returns the average salary of instructors in each department
            - note that a `HAVING` clause is not needed here because the subquery already filters out instructors with a salary below 80000
- `WITH` clause
    - used to define temporary relation tables that can be used in the main query
    -  ```sql
        WITH high_salary AS
            (
            SELECT dept_name, salary
            FROM instructor WHERE salary > 80000
            )
        ```
        - returns the department name and salary of instructors making more than 80000
        - high_salary is a temporary relation created inside the `WITH` clause
            - dept_name and salary are the attributes of the relation
    -   ```sql
        WITH max_budget (value) AS 
            (
            SELECT MAX(budget)
            FROM department
            )
        SELECT department.name
        FROM department, max_budget
        WHERE department.budget = max_budget.valueep
        ```
        - returns the name of the department with the highest budget
    - you can have multiple arguments to a `WITH` statement rather than having to type out `WITH` multiple times
        -   ```sql
            WITH dept_total (dept_name, value)
            AS (
                SELECT dept_name, SUM(salary)
                FROM instructor
                GROUP BY dept_name
                ),
            dept_total_avg (value)
            AS (
                SELECT AVG(value)
                FROM dept_total
                )
            ```
            - this will return the average salary of instructors in each department
            - note that you don't have to put `WITH` in front of the second argument because it is still part of the same `WITH` statement
- `INSERT` revisited
    -   ```sql
        INSERT INTO instructor
            (
            ID, name, dept_name, salary
            )
        ```
- `UPDATE` revisited
    - e.g. give a 5% raise to all instructors
        - `UPDATE instructor SET salary = salary * 1.05`
    - e.g. increase salaries of instructors whose salary is greater than $100k by 3% and all others by 5%
           ```sql
            UPDATE instructor
            SET salary = salary * 1.03
            WHERE salary > 100000
 
            UPDATE instructor
            SET salary = salary * 1.05
            WHERE salary <= 100000
            ```
            - order matters here; if the second update is done first, instructors making over 100k will be given a 5% raise and then a 3% raise
- `CASE` statement
    - works like a switch statement in C/C++
    - e.g. another solution to the above problem
    ```sql
   UPDATE instructor
   SET salary = CASE
        WHEN salary > 100000 THEN salary * 1.03
        ELSE salary * 1.05
   END
    ```
  - only one condition can be applied per row
    - e.g. the above but increase salaries less than $50k by 10% in addition to the other conditions
    ```sql
    UPDATE instructor
    SET salary = CASE
        WHEN salary > 100000 THEN salary * 1.03
        WHEN salary < 50000 THEN salary * 1.1
        ELSE salary * 1.05
    END
    ```

#### Intermediate SQL
- `JOIN` operation
    - performs a cartesian product on the tables and then filters the result based on a condition
    - comes in many flavors (inner, outer, etc)
    - recall the e.g. find the supervisor of Bob's supervisor
        -   ```sql
            SELECT S.supervisor
            FROM emp_supervisor E, emp_supervisor S
            WHERE E.name = 'Bob'
                AND E.supervisor = S.name
            ```
    - sql `JOIN` is the inner join by default but can be specified
        - i.e. you can still type `INNER JOIN` to be explicit
    - often used with the `ON` clause to specify a condition
        ```sql
        SELECT * employees.name, departments.dept_name
        FROM employees JOIN departments
            ON employees.dept_id = departments.dept_id
        ```
        - this will return the name of each employee and the name of the department they work in
        - the `JOIN` is used to create a table with all possible combinations of employees and departments
    - `NATURAL JOIN`
        - joins tables on all attributes with the same name
        -   ```sql
            SELECT employees.name, departments.dept_name
            FROM employees NATURAL JOIN departments
            ```
            - this will return the name of each employee and the name of the department they work in
        -   ```sql
            SELECT name, course_id
            FROM student NATURAL JOIN takes
            ```
            - this will return the name and course ID of each student
            - could also be written without the `NATURAL JOIN`
                -   ```sql
                    SELECT name, course_id
                    FROM student, takes
                    WHERE student.ID = takes.ID
                    ```
                - difference of personal preference
        - can chain `NATURAL JOIN` statements to join more than two tables
            -   ```sql
                SELECT *
                FROM R NATURAL JOIN S NATURAL JOIN T
                ```
        - NOTE: `NATURAL JOIN` joins on all attributes with the same name
            - if you have two attributes with the same name, they will be joined even if they are not the same attribute
            - this can cause unexpected results
            - can avoid ambiguity through parenthesis
            -  ```sql
                SELECT *
                FROM (student NATURAL JOIN takes) NATURAL JOIN course
                ```

### 01Apr25
#### Mini-Exam 3
- mostly MC, TF, matching
- 1-2 queries
- primarily SQL, some RA
- examples from in class extra credit
    - consider relation R and the following queries
        - Q1: `SELECT * FROM R WHERE A >= ALL (SELECT B FROM S)`
        - Q1: `SELECT * FROM R WHERE A >= ANY (SELECT B FROM S)`
            - Q1 is contained in the output of Q2
        - Q1: `SELECT * FROM R WHERE A >= ANY (SELECT B FROM S)`
        - Q2: `SELECT * FROM R WHERE A >= (SELECT MAX(B) FROM S)`
            - Q1 and Q2 are equivalent
        - Q1: `SELECT * FROM R WHERE A >= ALL (SELECT B FROM S)`
        - Q2: `SELECT * FROM R WHERE A >= (SELECT MIN(B) FROM S)`
            - Q1 is contained in the output of Q2
        - Q1: `SELECT * FROM R WHERE A >= ALL (SELECT B FROM S)`
        - Q2: `SELECT * FROM R WHERE A >= (SELECT MIN(B) FROM S)`
            - Q1 is contained in the output of Q2
        - Q1: `SELECT * FROM R WHERE A >= ANY (SELECT B FROM S)`
        - Q2: `SELECT * FROM R WHERE A >= (SELECT MAX(B) FROM S)`
            - Q2 is contained in the output of Q1
        - Q1: `SELECT * FROM R WHERE A >= ANY (SELECT B FROM S)`
        - Q2: `SELECT * FROM R WHERE A >= (SELECT MIN(B) FROM S)`
            - Q1 and Q2 are equivalent
        - Q1: `SELECT * FROM R WHERE A >= (SELECT MAX(B) FROM S)`
        - Q2: `SELECT * FROM R WHERE A >= (SELECT MIN(B) FROM S)`
            - Q1 is contained in the output of Q2
    - not from extra credit
        - Q1: `SELECT * FROM Emp;
        - Q2: `SELECT * FROM Emp WHERE sal = sal;
            - Q2 is contained in the output of Q1
                - sal will always be equal to itself unless it is null
                - if it is null, it will return an unknown value
                - if there were no nulls, Q1 and Q2 would be equivalent

#### back to SQL
- `JOIN` continued
    - `NATURAL LEFT OUTER JOIN`
        - returns all tuples from the left table and only matching tuples from the right table
        - **any field does not have a match in the other table will be NULL**
    - `NATURAL RIGHT OUTER JOIN`
        - returns all tuples from the right table and only matching tuples from the left table
        - **any field does not have a match in the other table will be NULL**
- `VIEW`
    - used to create a virtual table
    - `CREATE <view name> VIEW AS <query expression>`
        - e.g. a view of instructors without showing their salary
            -   ```sql
                CREATE VIEW faculty AS
                SELECT name, dept_name
                FROM instructor;
                ```
            - this creates a view named faculty that contains the name and department of each instructor
        - e.g. a view of departments by total salary
            -   ```sql
                CREATE VIEW dept_salary AS
                SELECT dept_name, SUM(salary)
                FROM instructor
                GROUP BY dept_name;
                ```
    - when you are done with the view, you can drop it
        - `DROP VIEW <view name>`
    - until explicitly dropped, the view will persist in the database across sessions
    - if a base table is dropped, the view will still exist but will be empty of cause an error
    - a view can be used as the base table for another view
    - insertion into views
        - can be done but it may cause issues
        - e.g. inserting a tuple of 3 attributes into a view with a base table of 4 attributes
            - the fourth attribute will be set to NULL or be rejected
        - **only modify data in a view if the results in the base table are guaranteed to be correct and unambiguous**
    - "materialized" views
        - a view that is stored in the database
            - i.e. it is stored to disk, not rerunning the query each time it is accessed
            - this means it is not always up to date but it is faster to access
        - not available in all DBMS
### SQL transactions
- ACID
    - Atomicity
        - either all operations are performed or none are
    - Consistency
        - the database remains valid after the transaction
    - Isolation
        - transactions don't interfere with each other
    - Durability
        - once a transaction is committed, changes are permanently saved
- syntax
    -   ```sql
        BEGIN TRANSACTION;
        -- SQL statements
        COMMIT;
        ```
    - always explicitly use `BEGIN` and `COMMIT` or `ROLLBACK`
        - this way you know when the transaction starts and ends
    - keep transactions short
        - this reduces the chance of conflicts with other transactions due to runtime
    - avoid overlapping transactions
        - this reduces the chance of conflicts with other transactions due to overlapping operations
    - commit promptly
        - don't leave transactions open
    - some DBMS will commit automatically by default (autocommit)
- integrity constraints
    - examples
        - null checks
            - via `NOT NULL`
        - primary key constraints
        - unique constraints
        - check(p)
            - checks for some user defined condition p
            - e.g. `temp INT CHECK ( temp > 100)`
                - verifies that temp is greater than 100
            - e.g. `CHECK semester IN ('Fall', 'Spring', 'Summer')`
                - verifies that semester is one of the three options
            - more complex
                -   ```sql
                    CREATE TABLE Enrollment (
                        StudentID int
                        StudentLevel VARCHAR(10), --Undergraduate or Graduate
                        CourseID int,
                        CONSTRAINT check_student_level
                            CHECK (
                                (StudentLevel = 'Undergraduate' AND CourseID < 500)
                                OR (StudentLevel = 'Graduate' AND CourseID >= 500)
                            )
                    );
                    ```
                    - the `check_student_level` constraint verifies that the student level is appropriate for the course ID
            -   limitations
                - cannot include subqueries or reference other tables
                - evaluated on a row by row basis
#### foreign key references
- explicitly defines a relationship between two tables
-   ```sql
    CREATE TABLE neat_table (
        ...
        FOREIGN KEY (ID) REFERENCES other_table(ID),
        ...
    );
    ```
- "Cascading" in SQL
    - refers to a process where an event trigers a sequence of subsequent events
    - i.e. what happens when the referenced table is modified?
    - on delete
        - consider a parent table with primary records and a child table linked through a foreign key
        - when a record is deleted from the parent table, the database deletes all corresponding records in the child table
        - e.g.
            -   ```sql
                CREATE TABLE course (
                    dept_name VARCHAR(20),
                    FOREIGN KEY (dept_name) REFERENCES department
                        ON DELETE CASCADE
                        ON UPDATE CASCADE
                );
                ```
                - this will delete all courses in a department if the department is deleted and update the department name if it is changed
        - can also use `SET NULL` or `SET DEFAULT`
            - `SET NULL` sets the foreign key to NULL
            - `SET DEFAULT` sets the foreign key to a default value
- another interesting situation
    -   ```sql
        CREATE TABLE person (
            ID char(10) PRIMARY KEY,
            name VARCHAR(20),
            mother char(10),
            father char(10),
            FOREIGN KEY (mother) REFERENCES person,
            FOREIGN KEY (father) REFERENCES person
        );
        - see slide 125 for the issue and resolution
#### assertions
- a condition that must always be true in the database
    - like a check but for all tables, not just one
    - `CREATE ASSERTION <assertion name> CHECK <condition>;`
        - e.g. `CREATE ASSERTION check_salary CHECK (salary > 0);`
            - this will check that all salaries are greater than 0
            - this will be enforced in every table
        - e.g.
            <img src="images/assert1.png"> <br>
            -   ```sql
                CREATE ASSERTION dept_has_employee
                CHECK (
                    NOT EXISTS (
                        SELECT d.dept_id
                        from department d LEFT JOIN employee e ON d.dept_id = e.dept_id
                        WHERE e.dept_id IS NULL
                    )
                );
                ```
                - the left join creates a table with all departments and employees
                <img src="images/assert2.png"> <br>
                    - it will have null values for departments with no employees

                <img src="images/assert3.png"> <br>
                    - final result
- **example beyond slide 133 will not be on exam**